<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--BAsic Setting About Configuration-->
  <settings>
    <!-- 配置在使用语句ID的时候要不要加命名空间 -->
    <setting useStatementNamespaces="false"/>
    <!-- 配置要不要启用iBatis的缓存模型 -->
    <setting cacheModelsEnabled="true"/>
    <!-- 配置要不要启示验证映射文件-->
    <!--<setting validateSqlMap="false"/>-->
  </settings>
  <!-- 配置数据驱动提供类配置文件的路径和文件名 -->
  <providers resource="providers.config"/>
  <!--数据库的信息，包括使用哪些数据库驱动和数据连接字符串的配置-->
  <database>
    <provider name="oracleClient1.0" />
    <dataSource name="limstest"  connectionString="Data Source=LIMSTEST;User ID=lisdev;Password=dev;Unicode=True"/>
	</database>
  <!--配置数据类映射文件-->
  <sqlMaps>
    
    <!-- 用户信息 -->
    <sqlMap resource="xml/Dictantibiotic.xml"/>
    <sqlMap resource="xml/Dictantibioticgroup.xml"/>
    <sqlMap resource="xml/Dictantibioticrefrange.xml"/>
    <sqlMap resource="xml/Dictcheckcustomer.xml"/>
    <sqlMap resource="xml/Dictcontroltestrule.xml"/>
    <sqlMap resource="xml/Dictcontroltests.xml"/>
    <sqlMap resource="xml/DictcustOdd.xml"/>
    <sqlMap resource="xml/Dictcustomer.xml"/>
    <sqlMap resource="xml/Dictcustomerdiscount.xml"/>
    <sqlMap resource="xml/Dictcustomerexcelmap.xml"/>
    <sqlMap resource="xml/Dictcustomergroup.xml"/>
    <sqlMap resource="xml/Dictcustomergroupprice.xml"/>
    <sqlMap resource="xml/Dictcustomerpriceactive.xml"/>
    <sqlMap resource="xml/Dictcustomertestdiscount.xml"/>
    <sqlMap resource="xml/Dictcustomeruser.xml"/>
    <sqlMap resource="xml/Dictdiagnosis.xml"/>
    <sqlMap resource="xml/Dictdoctor.xml"/>
    <sqlMap resource="xml/Dictdoctorex.xml"/>
    <sqlMap resource="xml/Dictdrawertype.xml"/>
    <sqlMap resource="xml/Dictfastcomment.xml"/>
    <sqlMap resource="xml/Dictgroupsecurity.xml"/>
    <sqlMap resource="xml/Dicthost.xml"/>
    <sqlMap resource="xml/Dictinputchoice.xml"/>
    <sqlMap resource="xml/Dictinputtemplate.xml"/>
    <sqlMap resource="xml/Dictinputtemplateitem.xml"/>
    <sqlMap resource="xml/Dictinstrument.xml"/>
    <sqlMap resource="xml/Dictinstrumentcenter.xml"/>
    <sqlMap resource="xml/Dictinstrumenttest.xml"/>
    <sqlMap resource="xml/Dictlibrary.xml"/>
    <sqlMap resource="xml/Dictlocation.xml"/>
    <sqlMap resource="xml/Dictorganism.xml"/>
    <sqlMap resource="xml/Dictorganismgroup.xml"/>
    <sqlMap resource="xml/Dictpathologytype.xml"/>
    <sqlMap resource="xml/Dictqccontrol.xml"/>
    <sqlMap resource="xml/Dictqclot.xml"/>
    <sqlMap resource="xml/Dictqclotcenter.xml"/>
    <sqlMap resource="xml/Dictqclottest.xml"/>
    <sqlMap resource="xml/Dictqcrule.xml"/>
    <sqlMap resource="xml/Dictqctestrule.xml"/>
    <sqlMap resource="xml/Dictreporttemplate.xml"/>
    <sqlMap resource="xml/Dictresulttypedetail.xml"/>
    <sqlMap resource="xml/Dictrouteassign.xml"/>
    <sqlMap resource="xml/Dictruleformular.xml"/>
    <sqlMap resource="xml/Dictsaleman.xml"/>
    <sqlMap resource="xml/Dictsecurityresource.xml"/>
    <sqlMap resource="xml/Dictstatcolumns.xml"/>
    <sqlMap resource="xml/Dictstatconditions.xml"/>
    <sqlMap resource="xml/Dictstathead.xml"/>
    <sqlMap resource="xml/Dicttableversion.xml"/>
    <sqlMap resource="xml/Dicttestgroupdetail.xml"/>
    <sqlMap resource="xml/Dicttestitem.xml"/>
    <sqlMap resource="xml/Dicttestitemcenter.xml"/>
    <sqlMap resource="xml/Dicttestitemmodel.xml"/>
    <sqlMap resource="xml/Dicttestitemmodeldetail.xml"/>
    <sqlMap resource="xml/Dicttestrefrange.xml"/>
    <sqlMap resource="xml/Dicttuberack.xml"/>
    <sqlMap resource="xml/Dictuser.xml"/>
    <sqlMap resource="xml/Dictuserandgroup.xml"/>
    <sqlMap resource="xml/Dictusergroup.xml"/>
    <sqlMap resource="xml/Dictuserinstrument.xml"/>
    <sqlMap resource="xml/Distributedetail.xml"/>
    <sqlMap resource="xml/Distributehead.xml"/>
    <sqlMap resource="xml/Initbasic.xml"/>
    <sqlMap resource="xml/Initlocalsetting.xml"/>
    <sqlMap resource="xml/Initsyssetting.xml"/>
    <sqlMap resource="xml/Instrumentpicture.xml"/>
    <sqlMap resource="xml/Instrumentrawdata.xml"/>
    <sqlMap resource="xml/Instrumentresult.xml"/>
    <sqlMap resource="xml/Instrumentseq.xml"/>
    <sqlMap resource="xml/Instrumenttempresult.xml"/>
<!--    <sqlMap resource="xml/Maintenancelog.xml"/>-->
    <sqlMap resource="xml/Micantibioticresult.xml"/>
    <sqlMap resource="xml/Micorganismresult.xml"/>
    <sqlMap resource="xml/Micresult.xml"/>
    <sqlMap resource="xml/Operationlog.xml"/>
    <sqlMap resource="xml/Pathologypicture.xml"/>
    <sqlMap resource="xml/Pathologyresult.xml"/>
    <sqlMap resource="xml/Pathologyseq.xml"/>
    <sqlMap resource="xml/Qcmonthlycomment.xml"/>
    <sqlMap resource="xml/Qcprocesslog.xml"/>
    <sqlMap resource="xml/Qcresult.xml"/>
    <sqlMap resource="xml/Specialresult.xml"/>
    <sqlMap resource="xml/Specimenexception.xml"/>
    <sqlMap resource="xml/Specimengrouptest.xml"/>
    <sqlMap resource="xml/Specimenhead.xml"/>
    <sqlMap resource="xml/Specimenheaddetail.xml"/>
    <sqlMap resource="xml/Specimenmanage.xml"/>
    <sqlMap resource="xml/Specimenpatientname.xml"/>
    <sqlMap resource="xml/Specimenreport.xml"/>
    <sqlMap resource="xml/Specimenreportdetail.xml"/>
    <sqlMap resource="xml/Specimenrequestinfo.xml"/>
    <sqlMap resource="xml/Specimenresult.xml"/>
    <sqlMap resource="xml/Specimentest.xml"/>
    <sqlMap resource="xml/Specinstrmentdetail.xml"/>
    <sqlMap resource="xml/Specinstrmenttest.xml"/>

  </sqlMaps>

</sqlMapConfig>

