<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd"
>
    <object id="PushDataService" type="Daan.DataTransfer.Services.PushDataService, Daan.DataTransfer.Services" />
    <object id="PushData" type="Spring.Web.Services.WebServiceExporter, Spring.Web">
      <property name="TargetName" value="PushDataService" />
      <property name="Namespace" value="http://tempuri.org/" />
      <property name="Description" value="推送数据WebService接口" />
      <property name="MemberAttributes">
        <dictionary>
          <entry key="Begin">
            <object type="System.Web.Services.WebMethodAttribute, System.Web.Services">
              <property name="EnableSession" value="true"/>
              <property name="Description" value="开始往服务器推送数据，把已经生成的数据Id(guid)及数据分段总数，需要那种处理通知服务器。" />
              <property name="MessageName" value="BeginMethod" />
            </object>
          </entry>
          <entry key="Push">
            <object type="System.Web.Services.WebMethodAttribute, System.Web.Services">
              <property name="EnableSession" value="true"/>
              <property name="Description" value="将数据分段后，推送一段数据到服务器" />
              <property name="MessageName" value="PushMethod" />
            </object>
          </entry>
          <entry key="End">
            <object type="System.Web.Services.WebMethodAttribute, System.Web.Services">
              <property name="EnableSession" value="true"/>
              <property name="Description" value="调用此方法停止推送数据，或告知服务器已经推送完成， 是否要进行处理通过abandon =true,false进行处理，等于false 放弃推送过来的数据" />
              <property name="MessageName" value="EndMehtod" />
            </object>
          </entry>
        </dictionary>
      </property>
    </object>

    <object id="PullDataService" type="Daan.DataTransfer.Services.PullDataService, Daan.DataTransfer.Services" />
    <object id="PullData" type="Spring.Web.Services.WebServiceExporter, Spring.Web">
      <property name="TargetName" value="PullDataService" />
      <property name="Namespace" value="http://tempuri.org/" />
      <property name="Description" value="拉数据WebService接口" />
      <property name="MemberAttributes">
        <dictionary>
          <entry key="Begin">
            <object type="System.Web.Services.WebMethodAttribute, System.Web.Services">
              <property name="Description" value="开似乎调用服务器拉数据服务，服务器根据action id 生成datainfo" />
              <property name="MessageName" value="BeginMethod" />
            </object>
          </entry>
          <entry key="Pull">
            <object type="System.Web.Services.WebMethodAttribute, System.Web.Services">
              <property name="EnableSession" value="true"/>
              <property name="Description" value="将数据分段后，客户端一段一段数据拉取" />
              <property name="MessageName" value="PullMethod" />
            </object>
          </entry>
          <entry key="End">
            <object type="System.Web.Services.WebMethodAttribute, System.Web.Services">
              <property name="EnableSession" value="true"/>
              <property name="Description" value="调用此方法停止拉数据，或告知服务器已经推送完成， 是否要进行处理通过abandon =true,false进行处理，等于true 放弃推送过来的数据" />
              <property name="MessageName" value="EndMethod" />
            </object>
          </entry>
        </dictionary>
      </property>
    </object>
  </objects>
