<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="AuthKey" value="123456"/>
    <add key="AuthValue" value="654321"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <objects xmlns="http://www.springframework.net">
      <object id="PushService" type="Spring.Web.Services.WebServiceProxyFactory, Spring.Services">
        <!--服务器Uri-->
        <property name="ServiceUri" value="http://localhost:4631/pushdata.asmx"/>
        <!--服务契约-->
        <property name="ServiceInterface" value="Daan.DataTransfer.DataCommon.IPushDataService, Daan.DataTransfer.DataCommon"/>
        <property name="ProductTemplate">
          <object>
            <!--超时时间10000毫秒-->
            <property name="Timeout" value="10000" />
          </object>
        </property>
      </object>

      <object id="PullService" type="Spring.Web.Services.WebServiceProxyFactory, Spring.Services">
        <!--服务器Uri-->
        <property name="ServiceUri" value="http://localhost:4631/pulldata.asmx"/>
        <!--服务契约-->
        <property name="ServiceInterface" value="Daan.DataTransfer.DataCommon.IPullDataService, Daan.DataTransfer.DataCommon"/>
        <property name="ProductTemplate">
          <object>
            <!--超时时间10000毫秒-->
            <property name="Timeout" value="10000" />
          </object>
        </property>
      </object>
    </objects>
  </spring>
</configuration>